/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.fixed-height-20em {
	min-height:20em!important;
	overflow: scroll!important;
}

table table.inner tr:last-child {
	border-bottom: none;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.padding-0{
	padding:0!important;
}


#login-modal,
#register-modal,
#level-modal {
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 20px;
  will-change: top, opacity;
}

.bold {
	font-weight:bold;
}

.brand-logo {
	/*font-family: 'Lily Script One', cursive;*/
	/*font-family: 'Lobster Two', cursive;*/
	/*font-family: 'Poiret One', cursive;*/
	/*font-family: 'Knewave', cursive;*/
	/*font-family: 'Quicksand', sans-serif;*/
	font-family: 'Pacifico', cursive;
}

.smaller {
	font-size:1.1rem;
}


#login-modal {
	max-height: 100%;
}
/*
#register-modal {
	 max-height: 100%;
}*/

.input-field > label {
	color: gray;
}

#register
#navlinks {
	min-width: fit-content;
}

.sidenav{
    /*top: 65px;*/
    width: 200px;
}

.no-margin-bottom {
	margin-bottom:0!important;
}

.no-margin-right {
	margin-right:0!important;
}

.border-bottom-none {
	border-bottom: none;
}


.helper-text {
	color:red!important;
}

.sidenav li {
	line-height: inherit!important; 
	/*padding-top: 1rem;*/
	padding-bottom: 1.5rem;
	margin:0!important;
}

.border {
	border: 1px solid black;
}

.collapsible {
	border:none!important;
	box-shadow: none!important;
}

/*.collapsible-header {
	border-bottom: none!important;
	padding-left:0!important;

}*/

[type="checkbox"].filled-in:checked + span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid orange;
    background-color: orange;
    z-index: 0;
    margin-top: 3px;
 }

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid orange;
    top: 0px;
    z-index: 0;
    margin-top: 3px;
}

[type="checkbox"].filled-in:checked + span:not(.lever):before {
	height:16px!important;
}


.brand-logo h3 {
		font-size: 2.92rem;
	    line-height: 110%;
	    margin: 0.8rem 0 1.168rem 0;
}

.custom-heading {
	font-family: 'Quicksand', sans-serif;
	font-weight:700;
}

.list_alt_custom {
	font-size: 1.8rem!important;
}

.sidenav li.active {
    background-color: rgba(0, 0, 0, .2);
}

.vertical-align-initial {
	vertical-align: initial!important;
}

/*============================ DESKTOP ==========================*/

@media only screen and (min-width: 961px) {
	#login-modal,
	#register-modal,
	#level-modal {
		width: 35%;
	}


}


/*==============================TABLET ==============================*/

@media only screen and (min-width:426px) and (max-width:960px) { 

	#login-modal,
	#register-modal,
	#level-modal {
		width: 65%!important;
	}

	/*nav .brand-logo {
		left: 0%;
	}*/

	.brand-logo h3 {

	}

}

/*==============================MOBILE==============================*/

@media only screen and (max-width:425px) { 

	#login-modal,
	#register-modal,
	#level-modal {
		width: 90%;
	}

	#navlinks {
		min-width:fit-content;
	}

	.collapsible-body.custom-padding {
	    display: none;
	    border-bottom: 1px solid #ddd;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    padding: .5rem;
	}

	.margin-top-18px-mobile {
		margin-top: 18px!important;
	}

}


