/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#login-modal,
#register-modal {
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 20px;
  will-change: top, opacity;
}

#login-modal {
	max-height: 100%;
}
/*
#register-modal {
	 max-height: 100%;
}*/

.input-field > label {
	color: gray;
}

#register
#navlinks {
	min-width: fit-content;
}

.sidenav{
    /*top: 65px;*/
    width: 150px;
}

/*main, footer {
  padding-left: 300px;
}*/

.no-margin-bottom {
	margin-bottom:0!important;
}

.helper-text {
	color:red!important;
}

.sidenav li {
	line-height: inherit!important; 
	/*padding-top: 1rem;*/
	padding-bottom: 1.5rem;
	margin:0!important;
}

.border {
	border: 1px solid black;
}

.collapsible {
	border:none!important;
	box-shadow: none!important;
}

.collapsible-header {
	border-bottom: none!important;
}




*//*============================ DESKTOP ==========================

@media only screen and (min-width: 961px) {
	#login-modal,
	#register-modal {
		width: 35%;
	}

}


/*==============================TABLET ==============================*/

@media only screen and (min-width:426px) and (max-width:960px) { 

	#login-modal,
	#register-modal {
		width: 65%;
	}

	nav .brand-logo {
		left: 0%;
	}

}

/*==============================MOBILE==============================*/

@media only screen and (max-width:425px) { 

	#login-modal,
	#register-modal {
		width: 90%;
	}

	#navlinks {
		min-width: fit-content;
	}

}


