/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/*.background-gif{*/
	/*background-size:cover!important;*/
	/*position:relative!important;*/
	/*background-position:center!important;*/
/*}*/

/*+++++++++++ IMAGES ******************/

#index-banner {
    background-image: url("/images/background-vector-3.png");
    background-size:cover;
    background-repeat:no-repeat;
    height:25em;
    position: relative;
    background-position-y: top;
    background-position-x: right;
}

#index-container,
.background-container-color {
    background-color: rgb(245, 250, 252);
    opacity: 1;
}

#landing-page-image-2 {
    background-image: url("/images/background-vector-4.png");
    background-size:cover;
    background-repeat:no-repeat;
    height: 30em;
    position: relative;
    background-position-y: center;
    background-position-x: center;
}

#teacher-dashboard-image{
    background-image: url("/images/background-vector-1.1.png");
    background-size:contain;
    background-repeat:no-repeat;
    height:75vh;
    position: relative;
    background-position-y: bottom;
    background-position-x: right;
}

#student-dashboard-image{
    background-image: url("/images/background-vector-5.png");
    background-size:contain;
    background-repeat:no-repeat;
    height:75vh;
    position: relative;
    background-position-y: bottom;
    background-position-x: right;
}


#admin-dashboard-image{
    background-image: url("/images/background-vector-6.png");
    background-size:contain;
    background-repeat:no-repeat;
    height:20em;
    position: relative;
    background-position-y: 200px;
    background-position-x: right;
}



/*+++++++++++******************/

.activity-result-text {
	color: black!important;
	/*font-size: 18px!important;*/
	text-shadow: 1px 1px white!important;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background-color: orange!important;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
    border: 2px solid orange!important;
}

.dropdown-content li > span {
	color: gray!important;
}

.collection {
	border: 1px solid white!important;
}

.collection .collection-item {
	border: 1px solid white!important;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
.input-field .prefix ~ textarea {
	-webkit-box-shadow: 0 1px 0 0 gray !important;
	box-shadow: 0 1px 0 0 gray !important;
	border-bottom: 1px solid gray !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label{
	color: gray !important;
}

.tabs .tab a {
	color: gray!important;
}

.tabs .tab a:hover {
	color: white!important;
	background:darkgray!important;
}

.tabs .indicator {
	background-color: gray;
}

.tabs .tab a.active{
	background-color: gray!important;
	color: white!important;
}


.btn {
	background-color: gainsboro;
	color:white;
}

.fixed-height-20em {
	min-height:20em!important;
	overflow: scroll!important;
}

table table.inner tr:last-child {
	border-bottom: none;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.padding-0{
	padding:0!important;
}




#login-modal,
#register-modal,
#level-modal,
#add-class-modal {
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 20px;
  will-change: top, opacity;
}

.bold {
	font-weight:bold;
}

.brand-logo {
	/*font-family: 'Lily Script One', cursive;*/
	/*font-family: 'Lobster Two', cursive;*/
	/*font-family: 'Poiret One', cursive;*/
	/*font-family: 'Knewave', cursive;*/
	/*font-family: 'Quicksand', sans-serif;*/
	font-family: 'Pacifico', cursive;
}

.smaller {
	font-size:1.1rem;
}


#login-modal {
	max-height: 100%;
}
/*
#register-modal {
	 max-height: 100%;
}*/

.input-field > label {
	color: gray;
}

#register
#navlinks {
	min-width: fit-content;
}

.sidenav{
    /*top: 65px;*/
    width: 200px;
}

.no-margin-bottom {
	margin-bottom:0!important;
}

.no-margin-right {
	margin-right:0!important;
}


.border-bottom-none {
	border-bottom: none;
}


.helper-text {
	color:red!important;
}

.sidenav li {
	line-height: inherit!important; 
	/*padding-top: 1rem;*/
	padding-bottom: 1.5rem;
	margin:0!important;
}

.border {
	border: 1px solid black;
}

.collapsible {
	border:none!important;
	box-shadow: none!important;
}

/*.collapsible-header {
	border-bottom: none!important;
	padding-left:0!important;

}*/

[type="checkbox"].filled-in:checked + span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid orange;
    background-color: orange;
    z-index: 0;
    margin-top: 3px;
 }

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid orange;
    top: 0px;
    z-index: 0;
    margin-top: 3px;
}

[type="checkbox"].filled-in:checked + span:not(.lever):before {
	height:16px!important;
}


.brand-logo h3 {
		font-size: 2.92rem;
	    line-height: 110%;
	    margin: 0.8rem 0 1.168rem 0;
}

.custom-heading {
	font-family: 'Quicksand', sans-serif;
	font-weight:700;
}

.list_alt_custom {
	font-size: 1.8rem!important;
}

.sidenav li.active {
    background-color: rgba(0, 0, 0, .2);
}

.vertical-align-initial {
	vertical-align: initial!important;
}

.datepicker-date-display {
	background-color:#311b92!important;
}

.datepicker-modal {
	width:90%!important;
	font-size:9px!important;
}

/*============================ DESKTOP ==========================*/

@media only screen and (min-width: 961px) {

    /*main {*/
        /*padding-left: 200px!important;*/
    /*}*/

	#login-modal,
	#register-modal,
	#level-modal,
	#delete-modal,
	.modal-small {
		width: 35%!important;
	}

	.margin-right-10px-large-medium {
		margin-right:10px!important;
	}

	.margin-left-10px-large-medium {
		margin-left:10px!important;
	}

	.fixed-height-20em-large-and-med {
		min-height:20em!important;
		overflow: scroll!important;
	}

	.margin-top-7em-large-med,
    .margin-top-7em-large {
		margin-top:7em;
	}

	.margin-top {
		margin-top:10px!important;
	}

    .padding-50-large {
        padding: 50px 0!important;
    }

}


/*==============================TABLET ==============================*/

@media only screen and (min-width:426px) and (max-width:960px) {

    #student-dashboard-image{
        background-size:contain;
        background-repeat:no-repeat;
        position: relative;
        background-position-y: bottom;
        background-position-x: right;
    }

    #teacher-dashboard-image{
        background-image: url("/images/background-vector-1.1.png");
        background-size:contain;
        background-repeat:no-repeat;
        position: relative;
        background-position-y: bottom;
        background-position-x: right;
    }

	#login-modal,
	#register-modal,
	#level-modal
	#delete-modal,
	.modal-small {
		width: 65%!important;
	}

	/*nav .brand-logo {
		left: 0%;
	}*/

	.sidenav > a {
		 padding: 0;
	}

	.margin-right-10px-large-medium {
		margin-right:10px!important;
	}

	.margin-left-10px-large-medium {
		margin-left:10px!important;
	}

	.fixed-height-20em-large-and-med {
		min-height:20em!important;
		overflow: scroll!important;
	}

	.margin-top-7em-large-med {
		margin-top:7em;
	}

	.margin-top {
		margin-top:8px!important;
	}

}

/*==============================MOBILE==============================*/

@media only screen and (max-width:425px) {

    #teacher-dashboard-image,
    #student-dashboard-image{
        display:none;
    }

    #index-banner {
        background-image: url("/images/background-vector-3.png");
        background-size:cover;
        background-repeat:no-repeat;
        height: 15em;
        position: relative;
        background-position-y: top;
        background-position-x: center;
    }


    #landing-page-image-2 {
        background-image: url("/images/background-vector-4.png");
        background-size:contain;
        background-repeat:no-repeat;
        height: 20em;
        position: relative;
        background-position-y: center;
        background-position-x: center;
    }


    .padding-0-sm{
        padding:0!important;
    }

	#login-modal,
	#register-modal,
	#level-modal,
	#delete-modal,
	.modal-small {
		width: 90%!important;
	}

	#navlinks {
		min-width:fit-content;
	}

	.collapsible-body.custom-padding {
	    display: none;
	    border-bottom: 1px solid #ddd;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    padding: .5rem;
	}

	.margin-top-18px-mobile {
		margin-top: 18px!important;
	}

	.sidenav > a {
		padding: 0;
	}

	.margin-right-10px-mobile {
		margin-right:10px!important;
	}


	.datepicker-footer {
		width: 250px!important;
		color: orange!important;
	}

	.datepicker-controls{
		width: 250px!important;
		margin: 0!important;
	}

	.datepicker-date-display {
		width: 300px!important;
		padding:15px;
	}

	.datepicker-calendar-container {
		width: 250px !important;
	}

	.datepicker-modal {
		width: 250px!important;
		max-width: 250px;
		min-width: 250px;
		max-height: none;
	}

	.modal-content .datepicker-container {
		width: 250px!important;
	}

	.margin-top-7em-large-med {
		margin-top:4em!important;
	}

	.margin-top {
		margin-top:15px!important;
	}
}


